*{
    margin: 0;
    padding: 0;
}  

body{
    background-color: #D9D9D9;
}

.calculadora{
    margin: 200px auto;
    background-color: black;
    width: 252px;
    height: 351px;
    padding-top: 41px;
    border-radius: 10%;
}

.pantalla{
    width: 209px;
    height: 82px;
    background-color: white;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border-radius: 5%;

    
}

.numero-pantalla{
    justify-content: flex-end;
    margin: 3px 10px;
    font-size: 30px;
    
}

.conteiner-botones{
    width: 209px;
    height: 227px;
    margin: auto;
    margin-top: 20px;
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
}


.botones-numeros{
    width: 35px;
    height: 35px;
    background-color: white;
    margin: 5px 5px;
    cursor: pointer;
    border-radius: 20%;


}

.botones-numeros:hover{
    background-color: #D9D9D9 ;
}

.botones-numeros-mas{
    width: 35px;
    height: 55px;
    background-color: white;
    margin: 5px 5px;
    align-items: center; 
    cursor: pointer; 
    border-radius: 10%;
  
}
.botones-numeros-mas:hover {
    background-color: #D9D9D9;
}

.espacio{
    margin-left: 15px;
}

.botones-especiales{
    margin-bottom: 20px;
}

.color{
    background-color:yellowgreen;
}

.btn{
    margin: 10px 13px;
    font-size: 20px;
}

.btn1{
    margin: 10px 10px;
}

.btn-mas{
    margin: 20px 13px;
}

.reset{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}

@media screen and (min-width: 1224px){

.calculadora{
    margin: 50px auto;
    width: 552px;
    height: 651px;
    padding-top: 41px;
}

.pantalla{
    width: 409px;
    height: 182px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    
}

.numero-pantalla{
    justify-content: flex-end;
    margin: 10px 20px;
    font-size: 50px;
    
}

.conteiner-botones{
    width: 409px;
    height: 427px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
}


.botones-numeros{
    width: 75px;
    height: 65px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 30px;

}

.botones-numeros:hover{
    background-color: #D9D9D9;
}

.botones-numeros-mas{
    width: 75px;
    height: 85px;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center; 
    cursor: pointer;   
}
.botones-numeros-mas{
    background-color: white;
}

.espacio{
    margin-left: 35px;
}

.botones-especiales{
    margin-bottom: 10px;
}

.color{
    background-color:yellowgreen;
}

.btn{
   
    font-size: 30px;
}

.btn1{
    
    font-size: 30px;
}

.btn-mas{
    
    font-size: 50px;
}

.reset{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
}
}

@media screen and (max-width: 594px) {
    .calculadora{
        margin: 200px auto;
        background-color: black;
        width: 152px;
        height: 211px;
        padding-top: 31px;
    }
    
    .pantalla{
        width: 109px;
        height: 42px;
        background-color: white;
        margin: auto;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        
    }
    
    .numero-pantalla{
        justify-content: flex-end;
        margin: 3px 7px;
        font-size: 20px;
        
    }
    
    .conteiner-botones{
        width: 109px;
        height: 157px;
        margin: auto;
        margin-top: 5px;
        background-color: black;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        
    }
    
    
    .botones-numeros{
        width: 18px;
        height: 20px;
        background-color: white;
        margin: 2px 2px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    
    .botones-numeros:hover{
        background-color: #D9D9D9;
    }
    
    .botones-numeros-mas{
        width: 20px;
        height: 25px;
        margin: 2px 3px;
        margin-bottom: 10px;
        align-items: center;   
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    
    .espacio{
        margin-left: 8px;
    }
    
    .botones-especiales{
        margin-bottom: 15px;
    }
    
    .color{
        background-color:yellowgreen;
    }

    .btn{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        font-size: 10px;
        margin: 0;
        
    }
    
    .btn1{
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        font-size: 10px;
        margin: 0;
        
    }
    
    .btn-mas{
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        font-size: 10px;
        margin: 0;

    }
    .reset{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        font-size: 15px;
    }

}